@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: transparent;
  }
}

@layer utilities {
  .animate-typewriter {
    white-space: normal;
    word-wrap: break-word; /* Đảm bảo văn bản không bị cắt */
    overflow: hidden;
    width: 0;
    animation:
      typewriter 5s steps(40) 1s 1 normal both,
      blink 0.75s step-end infinite;
    border-right: 3px solid black; /* Tạo đường gạch chớp */
  }
}
.card {
  text-align: left !important;
}
