@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-weight: 400;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }
}
/* Layout cuộn ngang cho các card */
.container {
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100vh;
}

.card {
  flex: 0 0 100%;
  scroll-snap-align: start;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  position: relative;
  font-family: sans-serif;
}
